/* !FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap');

/* !BASE STYLES/RESET */

:root{
    --light-color: #f3f3fe;
    --dark-color: #363636;
    --border-top-color: rgba(0,0,0,.1);
    --link-hover-color: rgba(255,255,255,.2);
    --title-font-family: 'Playfair Display', 'serif';
    --body-font-family: 'Poppins', 'sans-serif';
    --container-padding: 1.5rem;
    --container-width: 96rem;
    --section-vertical-spacing: 8rem;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* 10px */
    font-size: 62.5%;
}

body{
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
    color: var(--dark-color);
    overflow-x: hidden;
}

body.dark-theme{
    --light-color: #000;
    --dark-color: #fff;
    --border-top-color: rgba(255,255,255,.1);
}

a{
    text-decoration: none;
    color: inherit;
    outline: none;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

span{
   display: inline-block; 
}

i{
    font-size: 2.4rem;
}

input,
button,
textarea{
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}
/* 
?RADIAL GRADIENT
?background: radial-gradient(50% 50% at 50% 50%, rgba(255, 101, 118, .08) 0%, rgba(255, 101, 118, 0) 100%); 
*/
/* !REUSABLE CLASSES */

.container{
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--container-padding);
}

.section{
    padding-block: var(--section-vertical-spacing);
    position: relative;
}

.has-sparkles,
.has-sparkles-alt{
    position: relative;
}

.has-sparkles::before,
.has-sparkles::after{
    content: '';
    position: absolute;
    background: url('../images/sparkle.png') center no-repeat;
    background-size: cover;
}


/* !HEADER */

.header{
    margin-bottom: 5rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    position: relative;
}

.logo{
    font-family: var(--title-font-family);
    font-size: 3rem;
    font-weight: 600;
}

.navbar-buttons{
    display: flex;
    column-gap: .5rem;
    padding: 0 .5rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: .4rem;
    position: relative;
    z-index: 99;
}

.button{
    cursor: pointer;
}

.icon-button{
    width: 4rem;
    height: 4rem;
    display: flex;
}

.icon-button i{
    margin: auto;
}

.close-icon,
.theme-on{
    display: none;
}

.menu{
    position: absolute;
    right: 1.55rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: .8rem 1.5rem;
    border-radius: .4rem;
    z-index: -1;
    pointer-events: none;
    transform: scale(0);
    transform-origin: right;
    transition: transform .25s .25s cubic-bezier(1,0,0,1);
}

.list{
    display: flex;
    gap: 2.5rem;
}

.menu > .list{
    opacity: 0;
}

.menu > .list .list-link{
    text-transform: uppercase;
}

.list-link{
    font-size: 1.4rem;
    color: var(--light-color);
}

.list-link:hover,
.list-link:focus{
    opacity: .7;
}

.list-link span{
    font-weight: bold;
}

/* !JAVASCRIPT STYLES */

.active.menu{
    z-index: initial;
    pointer-events: initial;
    transform: scale(1) translateY(4.5rem);
}

.active.menu > .list{
    opacity: 1;
    transition: opacity .1s .5s;
}

.active .open-icon{
    display: none;
}

.active .close-icon{
    display: block;
}

.dark-theme .theme-off{
    display: none;
}

.dark-theme .theme-on{
    display: block;
}

/* !HERO STYLES*/

.title{
    font-family: var(--title-font-family);
    font-weight: 300;
    text-transform: uppercase;
}

.main-title{
    font-size: clamp(5rem, 10vw, 10rem);
    text-align: center;
    line-height: 1.2;
}

.inline-image{
    height: 7rem;
    width: 7rem;
    background: url('../images/statue_hero.png') top center no-repeat;
    background-size: cover;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    margin: 0 1.5rem;
}

.dark-theme .has-sparkles::before,
.dark-theme .has-sparkles::after{
    background: url('../images/sparkle_light.png') center no-repeat;
    background-size: cover;
}

.inline-image.has-sparkles::before{
    width: 1rem;
    height: 1rem;
    top: -.5rem;
    right: -.5rem;
}

.inline-image.has-sparkles::after{
    width: .8rem;
    height: .8rem;
    bottom: 1rem;
    right: -1.5rem;
}

.has-sparkles-alt::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 5vw;
    max-width: 5rem;
    height: 5vw;
    max-height: 5rem;
    background: url('../images/sparkle_alt.png') center no-repeat;
    background-size: cover;
}

.dark-theme .has-sparkles-alt::after{
    background: url('../images/sparkle_alt_light.png') center no-repeat;
    background-size: cover;
}
/* !ABOUT ME STYLES */

/* !PORTFOLIO STYLES */

/* !CONTACT STYLES */

/* !FOOTER STYLES */

/* !SCROLLBAR */

/* !MEDIA QUERIES */